<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请假申请单</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" type="text/css" href="/assets/element-plus/index.css">
    <!-- 引入组件库 -->
    <script src="/assets/vue/vue.global.js"></script>
    <script src="/assets/element-plus/index.full.js"></script>
    <script src="/assets/element-plus/locale/zh-cn.js"></script>
    <script src="/assets/axios/axios.js"></script>
    <script src="assets/element-plus/index.iide.min.js"></script>
    <script src="security.js"></script>

    <style>
        .el-form {
            border: 1px solid #DCDFE6;
            width: 600px;
            margin: 180px auto;
            padding: 35px 35px 15px 35px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            box-shadow: 0 0 25px #909399;
        }
    </style>

</head>
<body>
<div id="app">
    <el-form ref="leaveForm" :model="form" :rules="rules" label-width="80px">
        <el-descriptions title="请假申请单" :column="1" border>
            <el-descriptions-item label="部门">{{department.departmentName}}</el-descriptions-item>
            <el-descriptions-item label="申请人">{{employee.name}}[{{employee.title}}]</el-descriptions-item>
            <el-descriptions-item label="请假类型">
                <el-select v-model="form.formType" style="width: 100%">
                    <el-option label="事假" value="1"></el-option>
                    <el-option label="病假" value="2"></el-option>
                    <el-option label="工伤假" value="3"></el-option>
                    <el-option label="婚嫁" value="4"></el-option>
                    <el-option label="产假" value="5"></el-option>
                    <el-option label="丧假" value="6"></el-option>
                </el-select>
            </el-descriptions-item>

            <el-descriptions-item label="请假时间">
                <div class="block">
                    <el-date-picker
                            v-model="form.timeRange"
                            type="daterange"
                            range-separator="To"
                            start-placeholder="Start date"
                            end-placeholder="End date"
                            :size="size"
                            @change="updateTimeRange"
                    />
                </div>
            </el-descriptions-item>
            <el-descriptions-item label="请假原因">
                <el-form-item prop="reason" label-width="0px">
                    <el-input type="text" placeholder="请输入请假原因" v-model="form.reason"/>
                </el-form-item>
            </el-descriptions-item>

        </el-descriptions>
        <div style="text-align: center;padding-top: 30px">
            <el-button v-on:click="onSubmit('leaveForm')" type="primary" >立即申请</el-button>
        </div>
    </el-form>

</div>

<script>

    var Main = {
        data() {
            return {
                employee:{

                },
                department:{

                },
                form: {
                    formType: "1",
                    timeRange: "",
                    startTime: "",
                    endTime: "",
                    reason: "",
                },
                // 表单验证，需要在 el-form-item 元素中增加 prop 属性
                rules: {
                    timeRange: [
                        {required: true, message: '请选择请假时间', trigger: 'blur'}
                    ],
                    reason: [
                        {required: true, message: '请填写请假原因', trigger: 'blur'}
                    ]
                }
            }
        },
        methods:{
            onSubmit(leaveForm){
                const objApp = this
                const formData=this.form
                const $message = this.$message
                const formRef=this.$refs[leaveForm];
                formRef.validate((valid) =>{            //进行表单校验,返回一个valid结果,如果校验通过
                    if(valid){
                        const params = new URLSearchParams()
                        params.append("employeeId",this.employee.employeeId)
                        params.append("formType",formData.formType)
                        params.append("startTime",formData.startTime)
                        params.append("endTime",formData.endTime)
                        params.append("reason",formData.reason)
                        axios.post("/api/leave/creat",params).then(function (response){
                            const json = response.data
                            if(json.code==0){
                                // 发送消息给首页
                                parent.postMessage('showDialog', '*');
                            }else{
                                $message.error({message:json.message,offset:100})
                            }
                        })
                    }
                })
            },
            updateTimeRange(value){
                if(value && value.length===2){
                    this.form.startTime=value[0].getTime()
                    this.form.endTime=value[1].getTime()
                }
            }
        },
        mounted(){
            const objApp = this
            axios.get("/api/user_info?userId=" + sessionStorage.userId+"&employeeId="+sessionStorage.employeeId)
                .then(function (response){
                    objApp.employee = response.data.data.employee
                    objApp.department = response.data.data.department
                })
        }
    };
    const app = Vue.createApp(Main)
    for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
        app.component(key, component)
    }//初始化element plus icon组件用以初始化所有的图标
    app.use(ElementPlus)//使用vue来调用ElementPlus组件使得el-开头的组件能被正确渲染
    app.mount("#app")
</script>
</body>
</html>